## Meta-Labels

This taxonomy is based on taxon's that represent meta-labels that are used to apply to elements of a document in order to
inform, or guide, the model or processing.

{% with children=component.taxons %}
{% include 'processing-taxon.jinja2' %}
{% endwith %}
